n8n/workflow-dashboard.json
{
  "name": "KI Kanzlei Email Outreach (Dashboard)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ki-kanzlei-outreach",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2640, 784],
      "id": "b1000001-0000-0000-0000-000000000001",
      "webhookId": "ki-kanzlei-outreach"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================\n// Kampagne + Leads aus Supabase laden\n// ============================================\nconst webhookData = $input.first().json;\nconst payload = webhookData.body ?? webhookData;\nconst campaignId = payload.campaign_id;\nconst userId = payload.user_id;\n\nif (!campaignId) throw new Error('campaign_id fehlt im Webhook-Payload');\n\nconst supabaseUrl = 'https://kvwjabdmmdthgbhimjqf.supabase.co';\nconst supabaseKey = 'YOUR_SUPABASE_SERVICE_ROLE_KEY_HERE';\nconst headers = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json'\n};\n\nconst campaigns = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '/rest/v1/campaigns?id=eq.' + campaignId + '&select=id,daily_limit,delay_minutes,reply_to,status',\n  headers\n});\nconst campaign = campaigns[0];\n\nif (!campaign) throw new Error('Kampagne ' + campaignId + ' nicht gefunden');\nif (campaign.status !== 'active') throw new Error('Kampagne nicht aktiv (' + campaign.status + ')');\n\nconst leads = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '/rest/v1/campaign_leads?campaign_id=eq.' + campaignId + '&status=eq.pending&select=id,tracking_token,campaign_id,lead_id,lead:leads(company,company_name,email,phone,website,city,postal_code,street,country,industry,legal_form,ceo_name,ceo_title,ceo_first_name,ceo_last_name,ceo_gender)',\n  headers\n});\n\nif (!leads || leads.length === 0) {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: supabaseUrl + '/rest/v1/campaigns?id=eq.' + campaignId,\n    headers: { ...headers, 'Prefer': 'return=minimal' },\n    body: { status: 'completed', completed_at: new Date().toISOString() }\n  });\n  return [{ json: { message: 'Keine offenen Leads - Kampagne abgeschlossen', done: true } }];\n}\n\nreturn leads.map(lead => ({\n  json: {\n    ...lead,\n    daily_limit: campaign.daily_limit,\n    delay_minutes: campaign.delay_minutes,\n    reply_to: campaign.reply_to\n  }\n}));"
      },
      "name": "Kampagne + Leads laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2368, 784],
      "id": "b1000002-0000-0000-0000-000000000002"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allLeads = $input.all();\nif (!allLeads.length || allLeads[0].json.done) return [];\nconst DAILY_LIMIT = allLeads[0].json.daily_limit || 200;\nreturn allLeads.slice(0, DAILY_LIMIT).map(item => ({ json: item.json }));"
      },
      "name": "LimitCheck",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2144, 784],
      "id": "b1000003-0000-0000-0000-000000000003"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const senderDomains = [\n  { id: 1,  email: 'beratung@ki-kanzlei.at',    name: 'KI Kanzlei AI' },\n  { id: 2,  email: 'team@ki-kanzlei.at',         name: 'KI Kanzlei Team' },\n  { id: 3,  email: 'dialog@ki-kanzlei.at',       name: 'KI Kanzlei Austausch' },\n  { id: 4,  email: 'hello@ki-kanzlei.at',        name: 'KI Kanzlei Automatisierung' },\n  { id: 5,  email: 'office@ki-kanzlei.at',       name: 'KI Kanzlei Beratung' },\n  { id: 6,  email: 'connect@ki-kanzlei.at',      name: 'KI Kanzlei Contact' },\n  { id: 7,  email: 'digital@ki-kanzlei.at',      name: 'KI Kanzlei Digitalisierung' },\n  { id: 8,  email: 'kontakt@ki-kanzlei.at',      name: 'KI Kanzlei Effizienz' },\n  { id: 9,  email: 'welcome@ki-kanzlei.at',      name: 'KI Kanzlei Hello' },\n  { id: 10, email: 'solutions@ki-kanzlei.at',    name: 'KI Kanzlei KI-Loesungen' },\n  { id: 11, email: 'anfrage@ki-kanzlei.at',      name: 'KI Kanzlei Kontakt' },\n  { id: 12, email: 'support@ki-kanzlei.at',      name: 'KI Kanzlei Loesungen' },\n  { id: 13, email: 'optimierung@ki-kanzlei.at',  name: 'KI Kanzlei Prozesse' },\n  { id: 14, email: 'wachstum@ki-kanzlei.at',     name: 'KI Kanzlei Strategie' },\n  { id: 15, email: 'projekt@ki-kanzlei.at',      name: 'KI Kanzlei Umsetzung' }\n];\n\nconst lead = $input.item.json;\nconst domainIndex = $itemIndex % senderDomains.length;\nconst selectedDomain = senderDomains[domainIndex];\n\nreturn {\n  ...lead,\n  senderEmail: selectedDomain.email,\n  senderName: selectedDomain.name,\n  replyTo: lead.reply_to || 'info@ki-kanzlei.at',\n  domainId: selectedDomain.id\n};"
      },
      "name": "Domain Rotation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1904, 784],
      "id": "b1000004-0000-0000-0000-000000000004"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1696, 784],
      "id": "b1000005-0000-0000-0000-000000000005",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// Status-Check: Ist die Kampagne noch aktiv?\n// Wird VOR jeder Mail geprüft — ermöglicht Pause/Stop vom Dashboard\n// ============================================\nconst self = this;\nconst loopData = $input.item.json;\nconst campaignId = loopData.campaign_id;\n\nconst supabaseUrl = 'https://kvwjabdmmdthgbhimjqf.supabase.co';\nconst supabaseKey = 'YOUR_SUPABASE_SERVICE_ROLE_KEY_HERE';\n\nconst campaigns = await self.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '/rest/v1/campaigns?id=eq.' + campaignId + '&select=status',\n  headers: {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n    'Content-Type': 'application/json'\n  }\n});\n\nconst status = campaigns[0]?.status;\n\nif (status !== 'active') {\n  console.log('⏸️ Kampagne nicht mehr aktiv (status=' + status + ') — Loop wird gestoppt');\n  return { stopped: true, reason: 'Kampagne ' + status };\n}\n\nreturn loopData;"
      },
      "name": "Status Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1488, 784],
      "id": "b1000016-0000-0000-0000-000000000016"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-stopped-01",
              "leftValue": "={{ $json.stopped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Kampagne aktiv?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1280, 784],
      "id": "b1000017-0000-0000-0000-000000000017"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-website-01",
              "leftValue": "={{ $json.lead.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Filter: Website gefunden",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1072, 864],
      "id": "b1000006-0000-0000-0000-000000000006"
    },
    {
      "parameters": {
        "url": "={{ $json.lead.website }}",
        "options": {}
      },
      "name": "Website scrapen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-864, 736],
      "id": "b1000007-0000-0000-0000-000000000007",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst html = item.data || '';\n\nconst metaDescMatch = html.match(/<meta name=\"description\" content=\"([^\"]*)\"/i);\nconst metaDescription = metaDescMatch ? metaDescMatch[1] : '';\n\nconst titleMatch = html.match(/<title>([^<]*)<\\/title>/i);\nconst pageTitle = titleMatch ? titleMatch[1].replace(/&#\\d+;/g, '').replace(/&raquo;/g, '»').trim() : '';\n\nlet text = html\n  .replace(/<script[^>]*>.*?<\\/script>/gis, '')\n  .replace(/<style[^>]*>.*?<\\/style>/gis, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\ntext = text\n  .replace(/&#(\\d+);/g, (match, dec) => String.fromCharCode(dec))\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&quot;/g, '\"')\n  .replace(/&amp;/g, '&')\n  .replace(/&raquo;/g, '»')\n  .substring(0, 3000);\n\nreturn { pageTitle, metaDescription, websiteText: text };"
      },
      "name": "HTML zu Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-704, 736],
      "id": "b1000008-0000-0000-0000-000000000008"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# INPUT-DATEN FÜR EMAIL-GENERIERUNG\n\n**Firma:**  {{ $('Loop Over Items').item.json.lead.company }}\n**Ort:** {{ $('Loop Over Items').item.json.lead.city }}\n**PLZ:** {{ $('Loop Over Items').item.json.lead.postal_code }}\n**Straße:** {{ $('Loop Over Items').item.json.lead.street }}\n**Rechtsform:** {{ $('Loop Over Items').item.json.lead.legal_form }}\n**Branche:** {{ $('Loop Over Items').item.json.lead.industry }}\n**Website:** {{ $('Loop Over Items').item.json.lead.website }}\n**Email:** {{ $('Loop Over Items').item.json.lead.email }}\n**Telefon:** {{ $('Loop Over Items').item.json.lead.phone }}\n\n## KONTAKTPERSON\n**Geschäftsführer:** {{ $('Loop Over Items').item.json.lead.ceo_name }}\n**Anrede:** {{ $('Loop Over Items').item.json.lead.ceo_gender === 'frau' ? 'Frau' : ($('Loop Over Items').item.json.lead.ceo_gender === 'herr' ? 'Herr' : '') }}\n**Titel:** {{ $('Loop Over Items').item.json.lead.ceo_title }}\n**Vorname:** {{ $('Loop Over Items').item.json.lead.ceo_first_name }}\n**Nachname:** {{ $('Loop Over Items').item.json.lead.ceo_last_name }}\n\n## WEBSITE-INHALT (falls verfügbar)\nWebsite Titel: {{ $json.pageTitle }}\nWebsite Metabeschreibung: {{ $json.metaDescription }}\nWebsite Text: {{ $json.websiteText }}\n\n---\n\n**AUFGABE:** Erstelle eine personalisierte, formale Outreach-E-Mail nach den Vorgaben im System-Prompt.",
        "options": {
          "systemMessage": "# E-Mail Copywriting Prompt für Hotels in Österreich\n\nDu bist ein professioneller E-Mail-Copywriter für Arnold Freissling, Geschäftsführer der KI Kanzlei. Deine Aufgabe ist es, personalisierte, formale B2B-Outreach-E-Mails an Hotels in Österreich zu schreiben.\n\n## UNTERNEHMENSKONTEXT\n\n**KI Kanzlei:**\n- Gegründet von Arnold Freissling (Vertrieb) und Markus Wallner (Automatisierung)\n- Spezialisierung: Digitalisierung von Hotels in Österreich\n- Implementation: 30 Tage von Kick-off bis Go-Live\n- Mehrere Hotels nutzen bereits die Lösung\n- Technologie: n8n, Twilio, LiveKit, ElevenLabs, Azure AI, Superchat, Supabase\n- 100% DSGVO-konform\n\n**Referenzprojekt - Hotel in Salzburg:**\n- Familiengeführtes Hotel in Salzburg\n- Vorher: Abend- und Nachtanrufe musste der Chef selbst erledigen\n- Lösung: KI-Abendrezeptionist nimmt 24/7 Anrufe entgegen, beantwortet Standardfragen, nimmt Buchungen vor\n\n## ANREDE-LOGIK (KRITISCH)\n\n### Nach Anrede IMMER klein beginnen:\n✅ \"Sehr geehrte Frau Mag. Schmidt,\\n\\nich habe gesehen...\"\n❌ \"Sehr geehrte Frau Mag. Schmidt,\\n\\nIch habe gesehen...\"\n\n### Geschlechter-Erkennung:\n**Männlich:** Thomas, Michael, Andreas, Stefan, Peter, Wolfgang, Christian, Martin, Alexander, Daniel, Markus, Robert, Johannes, Franz, Josef, Karl, Matthias, Christoph, Florian\n**Weiblich:** Maria, Anna, Elisabeth, Christine, Barbara, Petra, Andrea, Monika, Sabine, Julia, Sarah, Lisa, Katharina, Claudia, Susanne, Martina, Karin\n\n## NATÜRLICHKEIT (KRITISCH)\n\n❌ Verboten: Feature-Listen, Lobeshymnen, künstliche Verbindungen, Gedankenstriche, Großschreibung nach Anrede\n✅ Geboten: Variierende Satzlängen, sachliche Beobachtungen, max. 2-3 Zahlen, Storytelling\n\n## LÄNGE\n120-180 Wörter (ohne Signatur). Min. 1 sehr kurzer Satz (3-5 Wörter).\n\n## OUTPUT-FORMAT\n\n**BETREFF:** [Betreff]\n\n[Anrede],\n\n[text klein beginnend]\n\n[Hauptteil]\n\n[Optionaler soft CTA]\n\nMit freundlichen Grüßen,\n\nArnold Freissling\nGeschäftsführer & Vertrieb\nKI Kanzlei\n+43 664 2314676\ninfo@ki-kanzlei.at\nhttps://www.ki-kanzlei.at"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-432, 832],
      "id": "b1000009-0000-0000-0000-000000000009",
      "name": "E-Mail Verfasser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-432, 1024],
      "id": "b1000010-0000-0000-0000-000000000010",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "C3HowCSpfoh9roLB",
          "name": "Google Gemini Arnold"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Microsoft Graph API Mailer + Tracking Pixel + Supabase\n// ============================================================\nconst data = $input.item.json;\nconst loopData = $('Loop Over Items').item.json;\n\nconst TENANT_ID     = 'YOUR_TENANT_ID_HERE';\nconst CLIENT_ID     = 'YOUR_CLIENT_ID_HERE';\nconst CLIENT_SECRET = 'YOUR_CLIENT_SECRET_HERE';\n\nconst senderEmail = loopData.senderEmail;\nconst senderName  = loopData.senderName;\nconst toEmail     = loopData.lead?.email;\nconst replyTo     = loopData.replyTo || 'info@ki-kanzlei.at';\n\nconst supabaseUrl = 'https://kvwjabdmmdthgbhimjqf.supabase.co';\nconst supabaseKey = 'YOUR_SUPABASE_SERVICE_ROLE_KEY_HERE';\nconst supaHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\nconst campaignLeadId = loopData.id;\nconst campaignId = loopData.campaign_id;\n\nconst self = this;\n\nasync function supabasePatch(filter, body) {\n  await self.helpers.httpRequest({\n    method: 'PATCH',\n    url: supabaseUrl + '/rest/v1/campaign_leads?' + filter,\n    headers: supaHeaders,\n    body\n  });\n}\n\nasync function supabaseRpc(fn, args) {\n  await self.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/rest/v1/rpc/' + fn,\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': 'Bearer ' + supabaseKey,\n      'Content-Type': 'application/json'\n    },\n    body: args\n  });\n}\n\nlet rawOutput = data.output || '';\nlet subject = 'Nachricht von KI Kanzlei';\nlet textBody = rawOutput;\n\nconst lines = rawOutput.split('\\n');\nconst betreffIndex = lines.findIndex(l => l.match(/BETREFF/i));\nif (betreffIndex !== -1) {\n  const betreffLine = lines[betreffIndex];\n  const inlineSubject = betreffLine.replace(/\\*?\\*?BETREFF:\\*?\\*?\\s*/i, '').trim();\n  if (inlineSubject.length > 0) {\n    subject = inlineSubject;\n    lines.splice(betreffIndex, 1);\n  } else {\n    const nextLine = lines[betreffIndex + 1]?.trim();\n    if (nextLine && nextLine.length > 0) {\n      subject = nextLine;\n      lines.splice(betreffIndex, 2);\n    } else {\n      lines.splice(betreffIndex, 1);\n    }\n  }\n  if (lines[betreffIndex] === '') lines.splice(betreffIndex, 1);\n  textBody = lines.join('\\n').trimStart();\n}\n\nlet htmlBody = textBody\n  .split('\\n\\n')\n  .map(p => '<p style=\"margin:0 0 12px 0;\">' + p.replace(/\\n/g, '<br>') + '</p>')\n  .join('');\n\nhtmlBody = htmlBody.replace(/(\\+?\\d[\\d\\s]{9,})/g, '<a href=\"tel:$1\">$1</a>');\nhtmlBody = htmlBody.replace(/([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/g, '<a href=\"mailto:$1\">$1</a>');\nhtmlBody = htmlBody.replace(/(https?:\\/\\/[^\\s<]+)/g, '<a href=\"$1\">$1</a>');\n\n// Tracking-Pixel\nconst trackingToken = loopData.tracking_token;\nconst dashboardUrl = 'http://localhost:3000';\nif (trackingToken) {\n  htmlBody += '<img src=\"' + dashboardUrl + '/api/track/open/' + trackingToken + '\" width=\"1\" height=\"1\" style=\"display:none;border:0;\" alt=\"\" />';\n}\n\ntry {\n  const tokenRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://login.microsoftonline.com/' + TENANT_ID + '/oauth2/v2.0/token',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: 'client_id=' + CLIENT_ID + '&client_secret=' + encodeURIComponent(CLIENT_SECRET) + '&scope=https://graph.microsoft.com/.default&grant_type=client_credentials',\n    returnFullResponse: false\n  });\n\n  const accessToken = tokenRes.access_token;\n\n  const graphRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://graph.microsoft.com/v1.0/users/' + senderEmail + '/sendMail',\n    headers: {\n      'Authorization': 'Bearer ' + accessToken,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      message: {\n        subject: subject,\n        body: { contentType: 'HTML', content: htmlBody },\n        toRecipients: [{ emailAddress: { address: toEmail } }],\n        replyTo: [{ emailAddress: { address: replyTo, name: 'KI Kanzlei' } }]\n      },\n      saveToSentItems: true\n    },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n\n  if (graphRes.statusCode === 202) {\n    await supabasePatch('id=eq.' + campaignLeadId, {\n      status: 'sent',\n      sent_at: new Date().toISOString(),\n      email_subject: subject,\n      email_text: textBody.substring(0, 5000),\n      sender_email: senderEmail\n    });\n    await supabaseRpc('increment_sent_count', { p_campaign_id: campaignId });\n\n    return {\n      ...loopData,\n      emailSent: true,\n      sentAt: new Date().toISOString(),\n      status: 'versendet'\n    };\n  } else {\n    await supabasePatch('id=eq.' + campaignLeadId, {\n      status: 'failed',\n      error_message: ('Graph API ' + graphRes.statusCode + ': ' + JSON.stringify(graphRes.body)).substring(0, 500)\n    });\n    await supabaseRpc('increment_failed_count', { p_campaign_id: campaignId });\n\n    return {\n      ...loopData,\n      emailSent: false,\n      error: 'Graph API ' + graphRes.statusCode,\n      sentAt: new Date().toISOString(),\n      status: 'fehler'\n    };\n  }\n\n} catch (error) {\n  await supabasePatch('id=eq.' + campaignLeadId, {\n    status: 'failed',\n    error_message: error.message.substring(0, 500)\n  });\n  await supabaseRpc('increment_failed_count', { p_campaign_id: campaignId });\n\n  return {\n    ...loopData,\n    emailSent: false,\n    error: error.message,\n    sentAt: new Date().toISOString(),\n    status: 'fehler'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 832],
      "id": "b1000011-0000-0000-0000-000000000011",
      "name": "Graph API Mailer"
    },
    {
      "parameters": {
        "amount": "={{ $('Loop Over Items').item.json.delay_minutes || 8 }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [160, 832],
      "id": "b1000012-0000-0000-0000-000000000012",
      "name": "Verzögerung",
      "webhookId": "ki-kanzlei-wait-2026"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-2704, 1216],
      "id": "b1000013-0000-0000-0000-000000000013"
    },
    {
      "parameters": {
        "functionCode": "const executionData = $json.execution;\nconst errorData = executionData.error;\nconst workflowData = $json.workflow;\nconst timestamp = new Date(Date.now() + 60*60*1000).toLocaleString('de-AT', {\n  day: '2-digit', month: '2-digit', year: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit'\n});\n\n// Kampagne auf paused setzen + Fehler speichern\ntry {\n  const supabaseUrl = 'https://kvwjabdmmdthgbhimjqf.supabase.co';\n  const supabaseKey = 'YOUR_SUPABASE_SERVICE_ROLE_KEY_HERE';\n  const supaHeaders = {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=minimal'\n  };\n\n  // Aktive Kampagnen finden die zu diesem Workflow gehoeren\n  const campaigns = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/campaigns?status=eq.active&select=id',\n    headers: { 'apikey': supabaseKey, 'Authorization': 'Bearer ' + supabaseKey, 'Content-Type': 'application/json' }\n  });\n\n  const errorMsg = '[n8n Fehler] ' + (executionData.lastNodeExecuted || 'Unbekannt') + ': ' + (errorData.message || 'Unbekannter Fehler');\n\n  for (const c of (campaigns || [])) {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: supabaseUrl + '/rest/v1/campaigns?id=eq.' + c.id,\n      headers: supaHeaders,\n      body: {\n        status: 'paused',\n        error_message: errorMsg.substring(0, 500)\n      }\n    });\n  }\n} catch (e) {\n  console.log('Fehler beim Kampagne-Update: ' + e.message);\n}\n\nreturn [{ json: {\n  customer_name: 'KI Kanzlei',\n  workflow_name: workflowData.name,\n  error_node: executionData.lastNodeExecuted,\n  error_message: errorData.message,\n  execution_id: executionData.id.toString(),\n  execution_url: executionData.url,\n  instance_url: 'https://n8n.srv1215699.hstgr.cloud/',\n  timestamp: timestamp\n}}];"
      },
      "name": "Error aufbereiten",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-2464, 1216],
      "id": "b1000014-0000-0000-0000-000000000014"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://default45680c7455794fb9bb784382189e6c.a9.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b8bb59c07c834cb4ab94280e87e72287/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=iUHtBjItxdpuG3uG1qbuv-LyPtaN-YX7FRRIvyJgsxU",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_name\": \"{{ $json.customer_name }}\",\n  \"workflow_name\": \"{{ $json.workflow_name }}\",\n  \"error_node\": \"{{ $json.error_node }}\",\n  \"error_message\": \"{{ $json.error_message }}\",\n  \"execution_id\": \"{{ $json.execution_id }}\",\n  \"execution_url\": \"{{ $json.execution_url }}\",\n  \"instance_url\": \"{{ $json.instance_url }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "name": "Teams Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-2208, 1216],
      "id": "b1000015-0000-0000-0000-000000000015"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Kampagne + Leads laden", "type": "main", "index": 0 }]]
    },
    "Kampagne + Leads laden": {
      "main": [[{ "node": "LimitCheck", "type": "main", "index": 0 }]]
    },
    "LimitCheck": {
      "main": [[{ "node": "Domain Rotation", "type": "main", "index": 0 }]]
    },
    "Domain Rotation": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Status Check", "type": "main", "index": 0 }]
      ]
    },
    "Status Check": {
      "main": [[{ "node": "Kampagne aktiv?", "type": "main", "index": 0 }]]
    },
    "Kampagne aktiv?": {
      "main": [
        [{ "node": "Filter: Website gefunden", "type": "main", "index": 0 }],
        []
      ]
    },
    "Filter: Website gefunden": {
      "main": [
        [{ "node": "Website scrapen", "type": "main", "index": 0 }],
        [{ "node": "E-Mail Verfasser", "type": "main", "index": 0 }]
      ]
    },
    "Website scrapen": {
      "main": [[{ "node": "HTML zu Text", "type": "main", "index": 0 }]]
    },
    "HTML zu Text": {
      "main": [[{ "node": "E-Mail Verfasser", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "E-Mail Verfasser", "type": "ai_languageModel", "index": 0 }]]
    },
    "E-Mail Verfasser": {
      "main": [[{ "node": "Graph API Mailer", "type": "main", "index": 0 }]]
    },
    "Graph API Mailer": {
      "main": [[{ "node": "Verzögerung", "type": "main", "index": 0 }]]
    },
    "Verzögerung": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Error aufbereiten", "type": "main", "index": 0 }]]
    },
    "Error aufbereiten": {
      "main": [[{ "node": "Teams Trigger", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
