n8n-workflows/Lead Enrichment v11 – Google Places + LangSearch + Social Media (1).json
{
  "name": "Lead Enrichment v11 – Google Places + LangSearch + Social Media",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst htmlHomepage = item.html_homepage || '';\n\nfunction htmlToText(html) {\n  if (!html || typeof html !== 'string' || html.length < 50) return '';\n  return html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n    .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 2500);\n}\n\nfunction extractEmails(html) {\n  if (!html) return [];\n  const raw = html.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g) || [];\n  const blacklist = ['example','noreply','no-reply','wixpress','sentry','schema',\n    'googletagmanager','w3.org','jquery','bootstrap','fontawesome',\n    '@2x','.png','.jpg','.svg','.gif','.webp','.css','.js','.woff'];\n  return raw.filter(e => {\n    const l = e.toLowerCase();\n    return !blacklist.some(b => l.includes(b));\n  });\n}\n\nfunction extractPhones(html) {\n  if (!html) return [];\n  const raw = html.match(/(?:\\+[1-9]\\d{0,3}[\\s\\-.]?)?(?:\\(?0?\\d{2,4}\\)?[\\s\\-.]?)?\\d{3,5}[\\s\\-.]?\\d{3,6}(?:[\\s\\-.]?\\d{1,4})?/g) || [];\n  return raw\n    .map(p => p.replace(/[\\s\\-.()]/g, ''))\n    .filter(p => p.length >= 7 && p.length <= 20 && /^[+\\d]/.test(p));\n}\n\nfunction extractSocial(html) {\n  if (!html) return {};\n  const clean = (m) => m ? m[0].split('\"')[0].split(\"'\")[0].split('?')[0].split('\\\\')[0] : null;\n  return {\n    linkedin:  clean(html.match(/https?:\\/\\/([a-z]{2,3}\\.)?linkedin\\.com\\/(?:company|in)\\/[^\\s\"'<>\\\\]+/i)),\n    facebook:  clean(html.match(/https?:\\/\\/([a-z]{2,3}\\.)?facebook\\.com\\/(?!sharer|dialog|share|plugins)[^\\s\"'<>\\\\]+/i)),\n    instagram: clean(html.match(/https?:\\/\\/([a-z]{2,3}\\.)?instagram\\.com\\/(?!p\\/|explore\\/)[^\\s\"'<>\\\\]+/i)),\n    xing:      clean(html.match(/https?:\\/\\/([a-z]{2,3}\\.)?xing\\.com\\/(?:profile|companies|pages)\\/[^\\s\"'<>\\\\]+/i)),\n    twitter:   clean(html.match(/https?:\\/\\/([a-z]{2,3}\\.)?(twitter\\.com|x\\.com)\\/(?!intent|share|home)[^\\s\"'<>\\\\]+/i)),\n    youtube:   clean(html.match(/https?:\\/\\/([a-z]{2,3}\\.)?youtube\\.com\\/(channel|c|user|@)[^\\s\"'<>\\\\]+/i)),\n    tiktok:    clean(html.match(/https?:\\/\\/([a-z]{2,3}\\.)?tiktok\\.com\\/@[^\\s\"'<>\\\\]+/i)),\n  };\n}\n\nconst combinedText = htmlToText(htmlHomepage);\nconst pagesLoaded = combinedText ? ['homepage'] : [];\nconst emails = [...new Set(extractEmails(htmlHomepage))];\nconst phones = [...new Set(extractPhones(htmlHomepage))];\nconst social = extractSocial(htmlHomepage);\n\nreturn [{\n  ...item,\n  website_content: combinedText ? ('=== HOMEPAGE ===\\n' + combinedText) : '',\n  pages_loaded: pagesLoaded.join(', '),\n  emails_found: emails,\n  phones_found: phones,\n  social_linkedin:  social.linkedin  || null,\n  social_facebook:  social.facebook  || null,\n  social_instagram: social.instagram || null,\n  social_xing:      social.xing      || null,\n  social_twitter:   social.twitter   || null,\n  social_youtube:   social.youtube   || null,\n  social_tiktok:    social.tiktok    || null,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19728,
        256
      ],
      "id": "7f6c3d60-9c79-49df-8c43-92075c986a53",
      "name": "7e. Parse HTML + Social",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet rawUrl = item.website || '';\n\n// Kein Website → direkt weiterleiten mit leeren Werten\nif (!rawUrl) {\n  return [{\n    ...item,\n    _fetch_homepage: '',\n    website_content: '',\n    pages_loaded: '',\n    emails_found: [],\n    phones_found: [],\n    social_linkedin: null,\n    social_facebook: null,\n    social_instagram: null,\n    social_xing: null,\n    social_twitter: null,\n    social_youtube: null,\n    social_tiktok: null\n  }];\n}\n\n// Protokoll normalisieren – immer mit HTTPS beginnen\nif (!rawUrl.startsWith('http')) rawUrl = 'https://' + rawUrl;\nrawUrl = rawUrl.replace(/^http:\\/\\//, 'https://');\n\nlet base;\ntry {\n  base = new URL(rawUrl).origin;\n} catch(e) {\n  base = rawUrl.replace(/\\/$/, '');\n}\n\nreturn [{\n  ...item,\n  _fetch_base: base,\n  _fetch_homepage: base + '/',\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19264,
        208
      ],
      "id": "c7afc15d-1646-4fd3-9c7b-fcebec0f1467",
      "name": "7a. Prepare URL",
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-search",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        17232,
        208
      ],
      "id": "2583d409-c135-493a-ad18-5d75e88d02ab",
      "name": "1. Webhook Trigger",
      "webhookId": "lead-search"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"started\", \"job_id\": \"{{ $('1. Webhook Trigger').item.json.body.job_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        17456,
        64
      ],
      "id": "64d9c780-8160-4ec4-98d5-1bde526be914",
      "name": "2. Respond OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kvwjabdmmdthgbhimjqf.supabase.co/rest/v1/rpc/set_search_job_running",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_job_id\": \"{{ $json.body.job_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17456,
        208
      ],
      "id": "e524d618-695a-4e81-9b4a-81ab1a103e5d",
      "name": "3. Job → Running",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst places = response.places || [];\nconst webhookData = $('1. Webhook Trigger').item.json.body;\n\nif (places.length === 0) {\n  return [{ no_results: true }];\n}\n\nconst filtered = places\n  .filter(p => p.websiteUri && p.businessStatus === 'OPERATIONAL')\n  .map(place => ({\n    google_place_id: place.id,\n    name: place.displayName?.text || '',\n    address: place.formattedAddress || '',\n    phone: place.internationalPhoneNumber || place.nationalPhoneNumber || '',\n    website: (place.websiteUri || '').replace(/\\/$/, ''),\n    google_rating: place.rating || null,\n    google_reviews_count: place.userRatingCount || null,\n    google_maps_url: place.googleMapsUri || '',\n    category: (place.types || []).join(', '),\n    user_id: webhookData.user_id,\n    job_id: webhookData.job_id,\n    search_query: webhookData.query,\n    search_location: webhookData.location,\n    country: '',\n    _company_type: webhookData.company_type || 'all',\n    _supabase_url: webhookData.supabase_url,\n    _supabase_key: webhookData.supabase_anon_key,\n    _langsearch_key: webhookData.langsearch_api_key\n  }));\n\nconsole.log(places.length + ' Places gefunden, ' + filtered.length + ' mit Website');\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18832,
        208
      ],
      "id": "e48f5d1a-a86e-424c-9e10-3eb710fc1abf",
      "name": "5. Filter & Parse"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        19040,
        128
      ],
      "id": "c0fec0de-dff9-40f7-b8cf-b8f62a2e0839",
      "name": "6. Loop Companies"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.langsearch.com/v1/web-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-43739f2e7a9a457c980304ae3377f352"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.name }} {{ $json.search_location }} Geschäftsführer OR CEO OR Inhaber OR managing director\",\n  \"freshness\": \"noLimit\",\n  \"summary\": true,\n  \"count\": 10\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19632,
        0
      ],
      "id": "e46f95ea-f565-4078-b687-898337ea3101",
      "name": "8. LangSearch: Find CEO",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst webPages = item.data?.webPages?.value || item.webPages?.value || [];\n\nconst snippets = webPages\n  .slice(0, 10)\n  .map(function(r) { return (r.name || '') + ': ' + (r.snippet || '') + ' ' + (r.summary || ''); })\n  .join('\\n');\n\nconst prevData = $('7e. Parse HTML + Social').item.json;\n\nreturn [{\n  ...prevData,\n  search_snippets: snippets || 'Keine Suchergebnisse gefunden'\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19776,
        16
      ],
      "id": "72585a8d-1572-4630-b509-0d9af840ec67",
      "name": "9. Parse LangSearch Results"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=== STEP 10: AI Extract Data — NEUER PROMPT ==\n== Kopiere diesen Text in das \"Text\" Feld des AI Agent Nodes ==\n\nAnalysiere diese Daten und extrahiere strukturierte Informationen.\n\nFIRMA: {{ $json.name }}\nWEBSITE: {{ $json.website }}\nADRESSE: {{ $json.address }}\nTELEFON (Google): {{ $json.phone }}\n\nGELADENE SEITEN: {{ $json.pages_loaded }}\n\nWEBSITE-CONTENT:\n{{ $json.website_content }}\n\nLANGSEARCH-SUCHERGEBNISSE ZUM GESCHAEFTSFUEHRER:\n{{ $json.search_snippets }}\n\nBEREITS GEFUNDENE DATEN:\n- Emails: {{ JSON.stringify($json.emails_found) }}\n- Telefone: {{ JSON.stringify($json.phones_found) }}\n\nAUFGABE:\n1. Finde den Ansprechpartner (Geschaeftsfuehrer/Inhaber/CEO)\n   - Muss ein echter Personenname sein (Vorname + Nachname)\n   - NICHT den Firmennamen als Person verwenden\n   - \"Familie X\" oder \"Team Y\" ist KEIN gueltiger Name\n   - Bei Ehepaaren (z.B. \"Dagmar & Christian Santner\"): nimm EINE Person, vorzugsweise die zuerst genannte\n   - Wenn kein Name gefunden wird: alle CEO-Felder = null\n\n2. ANREDE (ceo_gender) – NUR diese 4 Werte:\n   - \"herr\" → maennlicher Vorname (Michael, Thomas, Hans, Christian, Peter, ...)\n   - \"frau\" → weiblicher Vorname (Maria, Sandra, Dagmar, Christine, Anna, ...)\n   - \"divers\" → explizit non-binaer\n   - \"unbekannt\" → unklar, Initialen, kein Name gefunden\n   VERBOTEN: \"maennlich\", \"weiblich\", \"male\", \"female\"!\n\n3. Akademischer TITEL (ceo_title): Mag., Dr., DI, Ing., MBA, etc. – null wenn keiner\n\n4. Beste Kontakt-Email (persoenlich vor info@)\n5. Beste Telefonnummer (Direktwahl vor Zentrale)\n6. Firmendaten (Rechtsform)\n7. Strasse und Hausnummer extrahieren (NUR Strasse + Nummer, OHNE PLZ/Ort)\n8. Stadt und PLZ aus der Adresse extrahieren\n\n9. BRANCHE: Waehle GENAU EINE aus dieser Liste:\n   Rechtsanwalt | Kanzlei | Steuerberater | Wirtschaftspruefer | Notar | Arzt | Facharzt | Zahnarzt | Tierarzt | Apotheke | Physiotherapie | Heilpraktiker | Psychotherapie | Psychologie | Krankenhaus | Pflegeheim | Labor | Immobilienmakler | Hausverwaltung | Bautraeger | Architekt | Ingenieurbuero | Vermessungsbuero | Bauunternehmen | Handwerksbetrieb | Elektrotechnik | Sanitaer | Heizung | Klimatechnik | Malerbetrieb | Bodenleger | Tischlerei | Schreinerei | Schlosserei | Dachdeckerei | Zimmerei | Glaserei | KFZ-Werkstatt | Autohandel | Autohaus | Tankstelle | Hotel | Pension | Restaurant | Cafe | Baeckerei | Metzgerei | Catering | Einzelhandel | Supermarkt | Modegeschaeft | Juwelier | Buchhandlung | Grosshandel | Vertrieb | Import-Export | E-Commerce | IT-Dienstleister | Softwareentwicklung | Webdesign | Webagentur | Marketingagentur | Werbeagentur | PR-Agentur | Unternehmensberatung | Wirtschaftsberatung | Versicherungsmakler | Finanzberater | Bank | Vermoegensverwaltung | Fitnessstudio | Sportverein | Wellnesscenter | Friseur | Kosmetikstudio | Beautysalon | Nagelstudio | Tattoo-Studio | Fahrschule | Nachhilfe | Sprachschule | Musikschule | Kindergarten | Tanzschule | Coaching | Fotograf | Videoproduktion | Grafikdesign | Tonstudio | Druckerei | Werbetechnik | Reinigungsfirma | Facility Management | Gebaeudeservice | Spedition | Logistik | Transportunternehmen | Kurierdienst | Umzugsunternehmen | Gartenbau | Landschaftspflege | Floristik | Landwirtschaft | Bestattung | Optiker | Hoergeraeteakustiker | Personalvermittlung | Zeitarbeit | Personalberatung | Sicherheitsdienst | Detektei | Eventmanagement | Veranstaltungstechnik | Reisebuero | Tierhandlung | Hundeschule | Rechenzentrum | Hosting | Telekommunikation | Energieversorger | Abfallentsorgung | Recycling | Sonstige\n   Wenn KEINE passt: Sonstige\n\nANTWORTE NUR MIT VALIDEM JSON (kein Markdown, keine Erklaerungen):\n{\n  \"ceo_title\": \"Mag.|Dr.|DI|Ing.|MBA oder null\",\n  \"ceo_first_name\": \"Vorname oder null\",\n  \"ceo_last_name\": \"Nachname oder null\",\n  \"ceo_gender\": \"herr|frau|divers|unbekannt\",\n  \"ceo_source\": \"website|search|unknown\",\n  \"email\": \"beste Email oder null\",\n  \"phone\": \"beste Telefonnummer oder null\",\n  \"company_name\": \"Offizieller Firmenname\",\n  \"industry\": \"EXAKT eine Branche aus der obigen Liste\",\n  \"legal_form\": \"GmbH/AG/e.U./etc. oder null\",\n  \"street\": \"Strasse und Hausnummer oder null\",\n  \"city\": \"Stadt oder null\",\n  \"postal_code\": \"PLZ oder null\",\n  \"country\": \"AT|DE|CH oder null\",\n  \"confidence_score\": 0.0\n}\n\n\n== SYSTEM MESSAGE (im Options-Feld des AI Agent) ==\n\nDu bist ein Daten-Extraktions-Spezialist fuer oesterreichische und deutsche Unternehmen. Antworte IMMER mit validem JSON ohne Markdown-Bloecke. Fuer ceo_gender NUR: herr, frau, divers, unbekannt. NIEMALS maennlich/weiblich! Bei Ehepaaren: nimm EINE Person. Fuer industry: waehle EXAKT einen Wert aus der vorgegebenen Liste.\n",
        "options": {
          "systemMessage": "Du bist ein Daten-Extraktions-Spezialist. Du extrahierst strukturierte Firmendaten aus verschiedenen Quellen. Antworte IMMER mit validem JSON. Keine Erklaerungen. Wenn du dir bei einem Feld unsicher bist, setze null. Der confidence_score (0.0-1.0) gibt an, wie sicher du dir beim Geschaeftsfuehrer-Namen bist."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        19936,
        288
      ],
      "id": "f20e8ddc-3ae9-45d8-98ed-1a69df4128df",
      "name": "10. AI Extract Data"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        19936,
        416
      ],
      "id": "9f3b81fc-353f-4638-adbc-5bb7327cc415",
      "name": "Gemini 2.0 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "HT76LgkOqnLYmNWT",
          "name": "New Gemini Arnold"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json.output || $input.item.json.text || '';\nconst prevData = $('9. Parse LangSearch Results').item.json;\n\nvar data = {};\ntry {\n  var cleaned = aiResponse.replace(/```json\\n?|```/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch (e) {\n  console.error('JSON Parse Error:', e.message);\n  data = {};\n}\n\n// Rechtsform-Filter prüfen\nvar companyTypeFilter = prevData._company_type || 'all';\nif (companyTypeFilter !== 'all') {\n  var legalForm = (data.legal_form || '').toLowerCase();\n  var companyName = (data.company_name || prevData.name || '').toLowerCase();\n  var filterMap = {\n    'gmbh': ['gmbh'],\n    'eu': ['e.u.', 'e.u', 'einzelunternehmen'],\n    'ag': ['ag', 'aktiengesellschaft'],\n    'og': ['og', 'offene gesellschaft'],\n    'kg': ['kg', 'kommanditgesellschaft'],\n    'gmbh_cokg': ['gmbh & co kg', 'gmbh & co. kg', 'gmbh &amp; co kg']\n  };\n  var keywords = filterMap[companyTypeFilter] || [];\n  var matches = keywords.some(function(kw) {\n    return legalForm.indexOf(kw) !== -1 || companyName.indexOf(kw) !== -1;\n  });\n  if (!matches) {\n    console.log('Skip (Rechtsform): ' + (data.company_name || prevData.name));\n    return [{ _has_lead: false, _skip_reason: 'rechtsform' }];\n  }\n}\n\n// Kein echter Email-Fund → Lead überspringen\nconst finalEmail = data.email || (prevData.emails_found && prevData.emails_found[0]) || null;\nif (!finalEmail) {\n  console.log('Skip (no email): ' + (data.company_name || prevData.name));\n  return [{ _has_lead: false, _skip_reason: 'no_email' }];\n}\n\n// ceo_gender normalisieren\nfunction normalizeGender(g) {\n  if (!g) return 'unbekannt';\n  var v = g.toLowerCase().trim();\n  if (['herr', 'maennlich', 'männlich', 'male', 'm'].includes(v)) return 'herr';\n  if (['frau', 'weiblich', 'female', 'w', 'f'].includes(v)) return 'frau';\n  if (['divers', 'x', 'nonbinary'].includes(v)) return 'divers';\n  return 'unbekannt';\n}\n\n// ceo_name aus Teilen zusammenbauen\nvar ceoParts = [];\nif (data.ceo_title) ceoParts.push(data.ceo_title);\nif (data.ceo_first_name) ceoParts.push(data.ceo_first_name);\nif (data.ceo_last_name) ceoParts.push(data.ceo_last_name);\nvar ceoName = ceoParts.length >= 2 ? ceoParts.join(' ') : null;\n\nreturn [{\n  _has_lead: true,\n  user_id: prevData.user_id,\n  search_job_id: prevData.job_id,\n  search_query: prevData.search_query,\n  search_location: prevData.search_location,\n  name: data.company_name || prevData.name,\n  company: data.company_name || prevData.name,\n  company_name: data.company_name || prevData.name,\n  industry: data.industry || prevData.category || null,\n  legal_form: data.legal_form || null,\n  address: prevData.address,\n  street: data.street || null,\n  city: data.city || null,\n  postal_code: data.postal_code || null,\n  country: data.country || prevData.country || null,\n  phone: data.phone || prevData.phone || null,\n  email: finalEmail,\n  website: prevData.website,\n  ceo_name: ceoName,\n  ceo_title: data.ceo_title || null,\n  ceo_first_name: data.ceo_first_name || null,\n  ceo_last_name: data.ceo_last_name || null,\n  ceo_gender: normalizeGender(data.ceo_gender),\n  ceo_source: data.ceo_source || 'unknown',\n  google_place_id: prevData.google_place_id,\n  google_rating: prevData.google_rating,\n  google_reviews_count: prevData.google_reviews_count,\n  social_linkedin: prevData.social_linkedin || null,\n  social_facebook: prevData.social_facebook || null,\n  social_instagram: prevData.social_instagram || null,\n  social_xing: prevData.social_xing || null,\n  social_twitter: prevData.social_twitter || null,\n  social_youtube: prevData.social_youtube || null,\n  social_tiktok: prevData.social_tiktok || null,\n  status: 'new',\n  raw_data: {\n    ai_response: data,\n    emails_found: prevData.emails_found,\n    phones_found: prevData.phones_found,\n    pages_loaded: prevData.pages_loaded,\n    confidence_score: data.confidence_score || 0\n  },\n  _job_id: prevData.job_id\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20224,
        320
      ],
      "id": "c9760d3c-458e-4f2f-b34f-5bc49d426cab",
      "name": "11. Prepare Lead"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        20848,
        304
      ],
      "id": "031318ba-1bde-4312-a67f-4c61f4c4e5f5",
      "name": "13. Next Company"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kvwjabdmmdthgbhimjqf.supabase.co/rest/v1/rpc/set_search_job_completed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_job_id\": \"{{ $('1. Webhook Trigger').item.json.body.job_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        21248,
        208
      ],
      "id": "db82fd1b-f14a-49b9-bf96-37544db9501f",
      "name": "15. Job → Completed"
    },
    {
      "parameters": {
        "tableId": "leads",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "_job_id, _has_lead, _skip_reason"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20528,
        304
      ],
      "id": "89eedcb8-ea39-40ca-96b4-5026e506d581",
      "name": "12. Supabase Insert Lead",
      "credentials": {
        "supabaseApi": {
          "id": "PHmNqI7H6bqVa3qJ",
          "name": "KI Kanzlei Dashboard"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "=AIzaSyClicibNTw5sDI4I3gidDUZbtddPtDadXY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.nationalPhoneNumber,places.internationalPhoneNumber,places.websiteUri,places.rating,places.userRatingCount,places.googleMapsUri,places.businessStatus,places.types,places.id"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('1. Webhook Trigger').item.json.body.query }} in {{ $('1. Webhook Trigger').item.json.body.location }}\",\n  \"languageCode\": \"de\",\n  \"pageSize\": 20\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17696,
        208
      ],
      "id": "cb50145b-cb86-4c44-b22f-5031123fcfe6",
      "name": "4. Google Places Page 1"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst response = $input.first().json;\nconst places = response.places || [];\nif (!staticData._gp_places) { staticData._gp_places = []; staticData._gp_page = 0; }\nfor (var i = 0; i < places.length; i++) { staticData._gp_places.push(places[i]); }\nstaticData._gp_page++;\nvar nextToken = response.nextPageToken || null;\nvar hasMore = nextToken !== null && staticData._gp_page < 3;\nconsole.log('Seite ' + staticData._gp_page + ': ' + places.length + ' results');\nreturn [{ _next_page_token: nextToken || '', _has_more_str: hasMore ? 'yes' : 'no', _total: staticData._gp_places.length }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17904,
        208
      ],
      "id": "f89436e0-ce5e-4c33-b3ec-189d786aa247",
      "name": "4a. Store Results",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-mp",
              "leftValue": "={{ $json._has_more_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18096,
        208
      ],
      "id": "a028cea5-482d-4336-a5cc-5815ee880513",
      "name": "4b. More Pages?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "=AIzaSyClicibNTw5sDI4I3gidDUZbtddPtDadXY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.nationalPhoneNumber,places.internationalPhoneNumber,places.websiteUri,places.rating,places.userRatingCount,places.googleMapsUri,places.businessStatus,places.types,places.id"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('1. Webhook Trigger').item.json.body.query }} in {{ $('1. Webhook Trigger').item.json.body.location }}\",\n  \"languageCode\": \"de\",\n  \"pageSize\": 20,\n  \"pageToken\": \"{{ $json._next_page_token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18096,
        -16
      ],
      "id": "e20588ef-9e54-44cb-bfbd-3a928376f4ca",
      "name": "4c. Fetch Next Page"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar allPlaces = staticData._gp_places || [];\nvar pageCount = staticData._gp_page || 1;\nconsole.log('Total: ' + allPlaces.length + ' Places');\ndelete staticData._gp_places;\ndelete staticData._gp_page;\nreturn [{ places: allPlaces }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18304,
        208
      ],
      "id": "0b0a6f91-c10d-498b-9be3-dc7e1d254a29",
      "name": "4d. All Results"
    },
    {
      "parameters": {
        "url": "={{ $json._fetch_homepage }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "de,en;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19424,
        208
      ],
      "id": "2c834158-7195-4f95-aa68-24e4dd31d29d",
      "name": "7b. Fetch Homepage",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var httpResp = $input.first().json;\nvar originalItem = $('7a. Prepare URL').item.json;\nvar html = '';\nif (typeof httpResp === 'string') { html = httpResp; }\nelse if (httpResp && httpResp.data && typeof httpResp.data === 'string') { html = httpResp.data; }\nreturn [{ json: Object.assign({}, originalItem, { html_homepage: html }) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19616,
        208
      ],
      "id": "723cf9fb-74a3-4e91-bbfd-4fa12d52dce1",
      "name": "7c. Merge Data",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-lead",
              "leftValue": "={{ $json._has_lead }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20384,
        320
      ],
      "id": "81dc92ea-6840-45aa-a369-229ecc531f14",
      "name": "11a. Has Lead?"
    }
  ],
  "pinData": {},
  "connections": {
    "7e. Parse HTML + Social": {
      "main": [
        [
          {
            "node": "8. LangSearch: Find CEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7a. Prepare URL": {
      "main": [
        [
          {
            "node": "7b. Fetch Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Webhook Trigger": {
      "main": [
        [
          {
            "node": "2. Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. Job → Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Job → Running": {
      "main": [
        [
          {
            "node": "4. Google Places Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Filter & Parse": {
      "main": [
        [
          {
            "node": "6. Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Loop Companies": {
      "main": [
        [
          {
            "node": "15. Job → Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7a. Prepare URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. LangSearch: Find CEO": {
      "main": [
        [
          {
            "node": "9. Parse LangSearch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Parse LangSearch Results": {
      "main": [
        [
          {
            "node": "10. AI Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. AI Extract Data": {
      "main": [
        [
          {
            "node": "11. Prepare Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "10. AI Extract Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "11. Prepare Lead": {
      "main": [
        [
          {
            "node": "11a. Has Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Next Company": {
      "main": [
        [
          {
            "node": "6. Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Supabase Insert Lead": {
      "main": [
        [
          {
            "node": "13. Next Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Google Places Page 1": {
      "main": [
        [
          {
            "node": "4a. Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Store Results": {
      "main": [
        [
          {
            "node": "4b. More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. More Pages?": {
      "main": [
        [
          {
            "node": "4c. Fetch Next Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4d. All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4c. Fetch Next Page": {
      "main": [
        [
          {
            "node": "4a. Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4d. All Results": {
      "main": [
        [
          {
            "node": "5. Filter & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7b. Fetch Homepage": {
      "main": [
        [
          {
            "node": "7c. Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7c. Merge Data": {
      "main": [
        [
          {
            "node": "7e. Parse HTML + Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11a. Has Lead?": {
      "main": [
        [
          {
            "node": "12. Supabase Insert Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13. Next Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6817fac8-5482-4f76-8141-fa7fc9c9803d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8466885965e7ba0344d8e400c2097cbbb0c83c4156c4e08ec4a710b84ea0464"
  },
  "id": "qIhKGQRsL0AGmeah",
  "tags": [
    {
      "updatedAt": "2026-02-25T20:00:28.892Z",
      "createdAt": "2026-02-25T20:00:28.892Z",
      "id": "3X5nxVxudLc9G7YV",
      "name": "leads"
    },
    {
      "updatedAt": "2026-02-25T20:00:28.889Z",
      "createdAt": "2026-02-25T20:00:28.889Z",
      "id": "ZKz60vjWKQj8wZ4m",
      "name": "production"
    }
  ]
}