n8n-workflows/Lead Enrichment v10 – Google Places + LangSearch + Social Media.json
{
  "name": "Lead Enrichment v10 – Google Places + LangSearch + Social Media",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst htmlHomepage = item.html_homepage || '';\nconst htmlKontakt  = item.html_kontakt  || '';\nconst htmlAbout    = item.html_about    || '';\nconst htmlTeam     = item.html_team     || '';\n\nfunction htmlToText(html) {\n  if (!html || typeof html !== 'string' || html.length < 50) return '';\n  return html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, '')\n    .replace(/<iframe[\\s\\S]*?<\\/iframe>/gi, '')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, '')\n    .replace(/<form[\\s\\S]*?<\\/form>/gi, '')\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n    .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n    .replace(/\\{[^}]{50,}\\}/g, '')\n    .replace(/[a-zA-Z0-9+\\/=]{100,}/g, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 1500);\n}\n\nfunction extractEmails(html) {\n  if (!html) return [];\n  const raw = html.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g) || [];\n  const blacklist = ['example','noreply','no-reply','wixpress','sentry','schema',\n    'googletagmanager','w3.org','jquery','bootstrap','fontawesome',\n    '@2x','.png','.jpg','.svg','.gif','.webp','.css','.js','.woff'];\n  return raw.filter(e => {\n    const l = e.toLowerCase();\n    return !blacklist.some(b => l.includes(b));\n  });\n}\n\nfunction extractPhones(html) {\n  if (!html) return [];\n  const raw = html.match(/(?:\\+[1-9]\\d{0,3}[\\s\\-.]?)?(?:\\(?0?\\d{2,4}\\)?[\\s\\-.]?)?\\d{3,5}[\\s\\-.]?\\d{3,6}(?:[\\s\\-.]?\\d{1,4})?/g) || [];\n  return raw\n    .map(p => p.replace(/[\\s\\-.()]/g, ''))\n    .filter(p => p.length >= 7 && p.length <= 16 && /^[+\\d]/.test(p) && !/^20[0-2]\\d{4,}/.test(p));\n}\n\nfunction extractSocial(html) {\n  if (!html) return {};\n  // Simplified clean: just grab the URL up to first whitespace, quote, or angle bracket\n  const clean = (m) => {\n    if (!m) return null;\n    let url = m[0];\n    // Remove anything after quotes, question marks, hash, whitespace\n    url = url.split('\"')[0].split(\"'\")[0].split('?')[0].split('#')[0];\n    // Remove trailing slashes for consistent comparison\n    url = url.replace(/\\/+$/, '');\n    return url || null;\n  };\n  \n  // Relaxed validPath: only check URL is parseable, allow short paths\n  const validPath = (url) => {\n    if (!url) return null;\n    try {\n      const u = new URL(url);\n      const p = u.pathname.replace(/\\/+$/, '');\n      // Only reject if there's literally no path at all (just the domain)\n      return p.length >= 2 ? url : null;\n    } catch(e) {\n      return null;\n    }\n  };\n\n  return {\n    linkedin:  validPath(clean(html.match(/https?:\\/\\/(?:www\\.)?linkedin\\.com\\/(?:company|in)\\/[^\\s\"'<>]+/i))),\n    facebook:  validPath(clean(html.match(/https?:\\/\\/(?:www\\.)?facebook\\.com\\/(?!sharer|dialog|share\\/|plugins|images|privacy|policies|help|hashtag|login\\/|watch\\/|events\\/|groups\\/)[a-zA-Z0-9._\\-]+/i))),\n    instagram: validPath(clean(html.match(/https?:\\/\\/(?:www\\.)?instagram\\.com\\/(?!p\\/|explore|accounts|legal|about|developer|static|reel\\/)[a-zA-Z0-9._\\-]+/i))),\n    xing:      validPath(clean(html.match(/https?:\\/\\/(?:www\\.)?xing\\.com\\/(?:profile|companies|pages)\\/[^\\s\"'<>]+/i))),\n    twitter:   validPath(clean(html.match(/https?:\\/\\/(?:www\\.)?(twitter\\.com|x\\.com)\\/(?!intent|share|home|i\\/|search|tos|privacy|settings)[a-zA-Z0-9_]+/i))),\n    youtube:   validPath(clean(html.match(/https?:\\/\\/(?:www\\.)?youtube\\.com\\/(?:channel|c|user|@)[^\\s\"'<>]+/i))),\n    tiktok:    validPath(clean(html.match(/https?:\\/\\/(?:www\\.)?tiktok\\.com\\/@[^\\s\"'<>]+/i))),\n  };\n}\n\nconst pages = [\n  { html: htmlHomepage, label: 'HOMEPAGE' },\n  { html: htmlKontakt,  label: 'KONTAKT'  },\n  { html: htmlAbout,    label: 'ABOUT'    },\n  { html: htmlTeam,     label: 'TEAM'     },\n];\n\nlet combinedText = '';\nconst pagesLoaded = [];\nlet emails = [];\nlet phones = [];\nlet social = {};\n\nfor (const { html, label } of pages) {\n  if (!html || html.length < 50) continue;\n  const text = htmlToText(html);\n  if (!text) continue;\n  combinedText += `\\n\\n=== ${label} ===\\n${text}\\n`;\n  pagesLoaded.push(label.toLowerCase());\n  emails.push(...extractEmails(html));\n  phones.push(...extractPhones(html));\n  const s = extractSocial(html);\n  for (const [k, v] of Object.entries(s)) {\n    if (v && !social[k]) social[k] = v;\n  }\n}\n\nemails = [...new Set(emails)];\nphones = [...new Set(phones)];\n\nreturn [{\n  ...item,\n  website_content: combinedText.substring(0, 8000),\n  pages_loaded: pagesLoaded.join(', '),\n  emails_found: emails,\n  phones_found: phones,\n  social_linkedin:  social.linkedin  || null,\n  social_facebook:  social.facebook  || null,\n  social_instagram: social.instagram || null,\n  social_xing:      social.xing      || null,\n  social_twitter:   social.twitter   || null,\n  social_youtube:   social.youtube   || null,\n  social_tiktok:    social.tiktok    || null,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14292,
        2128
      ],
      "id": "198d11a8-957c-43a7-9d97-1f7259d079d5",
      "name": "7e. Parse HTML + Social",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet rawUrl = item.website || '';\n\n// Kein Website → direkt weiterleiten mit leeren Werten\nif (!rawUrl) {\n  return [{\n    ...item,\n    _fetch_homepage: '',\n    website_content: '',\n    pages_loaded: '',\n    emails_found: [],\n    phones_found: [],\n    social_linkedin: null,\n    social_facebook: null,\n    social_instagram: null,\n    social_xing: null,\n    social_twitter: null,\n    social_youtube: null,\n    social_tiktok: null\n  }];\n}\n\n// Protokoll normalisieren – immer mit HTTPS beginnen\nif (!rawUrl.startsWith('http')) rawUrl = 'https://' + rawUrl;\nrawUrl = rawUrl.replace(/^http:\\/\\//, 'https://');\n\nlet base;\ntry {\n  base = new URL(rawUrl).origin;\n} catch(e) {\n  base = rawUrl.replace(/\\/$/, '');\n}\n\nreturn [{\n  ...item,\n  _fetch_base: base,\n  _fetch_homepage: base + '/',\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13828,
        2080
      ],
      "id": "1b55af82-00eb-4d10-acfb-068b50d949a2",
      "name": "7a. Prepare URL",
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-search",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        11808,
        2080
      ],
      "id": "aec8e3e7-78d9-4160-90f6-a2e3264934e9",
      "name": "1. Webhook Trigger",
      "webhookId": "lead-search"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"started\", \"job_id\": \"{{ $('1. Webhook Trigger').item.json.body.job_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        12032,
        1936
      ],
      "id": "e233bbf8-5a8b-4989-8bc0-76641d91629a",
      "name": "2. Respond OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kvwjabdmmdthgbhimjqf.supabase.co/rest/v1/rpc/set_search_job_running",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_job_id\": \"{{ $json.body.job_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12032,
        2080
      ],
      "id": "7880efd1-7a13-4b9b-ba65-2040f3bd1fc8",
      "name": "3. Job → Running",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst places = response.places || [];\nconst webhookData = $('1. Webhook Trigger').item.json.body;\n\nif (places.length === 0) {\n  return [{ no_results: true }];\n}\n\nconst filtered = places\n  .filter(p => p.websiteUri && p.businessStatus === 'OPERATIONAL')\n  .map(place => ({\n    google_place_id: place.id,\n    name: place.displayName?.text || '',\n    address: place.formattedAddress || '',\n    phone: place.internationalPhoneNumber || place.nationalPhoneNumber || '',\n    website: (place.websiteUri || '').replace(/\\/$/, ''),\n    google_rating: place.rating || null,\n    google_reviews_count: place.userRatingCount || null,\n    google_maps_url: place.googleMapsUri || '',\n    category: (place.types || []).join(', '),\n    user_id: webhookData.user_id,\n    job_id: webhookData.job_id,\n    search_query: webhookData.query,\n    search_location: webhookData.location,\n    country: '',\n    _company_type: webhookData.company_type || 'all',\n    _supabase_url: webhookData.supabase_url,\n    _supabase_key: webhookData.supabase_anon_key,\n    _langsearch_key: webhookData.langsearch_api_key\n  }));\n\nconsole.log(places.length + ' Places gefunden, ' + filtered.length + ' mit Website');\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13396,
        2080
      ],
      "id": "e9b7fa16-1f8c-40e0-80f1-729e022ecbf0",
      "name": "5. Filter & Parse"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        13604,
        2000
      ],
      "id": "d339ee90-a565-4f79-ae9b-a352d1c4fe9e",
      "name": "6. Loop Companies"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.langsearch.com/v1/web-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-43739f2e7a9a457c980304ae3377f352"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.name }} {{ $json.search_location }} Geschäftsführer OR CEO OR Inhaber OR managing director\",\n  \"freshness\": \"noLimit\",\n  \"summary\": true,\n  \"count\": 10\n}",
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14196,
        1872
      ],
      "id": "ac2571bf-4184-4aeb-a805-c33a98b4791e",
      "name": "8. LangSearch: Find CEO",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst webPages = item.data?.webPages?.value || item.webPages?.value || [];\n\nconst snippets = webPages\n  .slice(0, 10)\n  .map(function(r) { return (r.name || '') + ': ' + (r.snippet || '') + ' ' + (r.summary || ''); })\n  .join('\\n');\n\nconst prevData = $('7e. Parse HTML + Social').item.json;\n\nreturn [{\n  ...prevData,\n  search_snippets: snippets || 'Keine Suchergebnisse gefunden'\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14340,
        1888
      ],
      "id": "ef4979d5-887a-473a-a120-891d423dbfd0",
      "name": "9. Parse LangSearch Results"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analysiere diese Daten und extrahiere strukturierte Informationen.\n\nFIRMA: {{ $json.name }}\nWEBSITE: {{ $json.website }}\nADRESSE: {{ $json.address }}\nTELEFON (Google): {{ $json.phone }}\n\nGELADENE SEITEN: {{ $json.pages_loaded }}\n\nWEBSITE-CONTENT:\n{{ $json.website_content }}\n\nLANGSEARCH-SUCHERGEBNISSE ZUM GESCHAEFTSFUEHRER:\n{{ $json.search_snippets }}\n\nBEREITS GEFUNDENE DATEN:\n- Emails: {{ JSON.stringify($json.emails_found) }}\n- Telefone: {{ JSON.stringify($json.phones_found) }}\n\nAUFGABE:\n1. Finde den Geschaeftsfuehrer/CEO/Inhaber/Managing Director\n   - Der CEO muss ein echter Personenname sein (Vorname + Nachname)\n   - Verwende NICHT den Firmennamen allein als CEO (z.B. \"Calouba\" ist kein CEO)\n   - \"Familie Mustermann\" oder \"Team XY\" ist KEIN gueltiger CEO-Name\n   - Wenn nur ein Nachname bekannt ist (z.B. \"Santner\"), versuche den Vornamen aus dem Content zu finden\n   - Wenn wirklich kein Personenname gefunden wird: ceo_name = null\n   - Auch Inhaber-Ehepaare sind gueltig (z.B. \"Dagmar & Christian Santner\")\n2. Geschlecht des CEO bestimmen (maennlich/weiblich/unbekannt)\n   - Bei Ehepaaren oder mehreren Personen: unbekannt\n3. Beste Kontakt-Email (persoenlich vor info@)\n4. Beste Telefonnummer (Direktwahl vor Zentrale)\n5. Firmendaten (Rechtsform, ggf. Mitarbeiterzahl)\n6. Strasse und Hausnummer aus der Adresse extrahieren\n7. Stadt und PLZ aus der Adresse extrahieren\n8. BRANCHE: Waehle GENAU EINE aus dieser Liste:\n   Rechtsanwalt | Kanzlei | Steuerberater | Wirtschaftspruefer | Notar | Arzt | Facharzt | Zahnarzt | Tierarzt | Apotheke | Physiotherapie | Heilpraktiker | Psychotherapie | Psychologie | Krankenhaus | Pflegeheim | Labor | Immobilienmakler | Hausverwaltung | Bautraeger | Architekt | Ingenieurbuero | Vermessungsbuero | Bauunternehmen | Handwerksbetrieb | Elektrotechnik | Sanitaer | Heizung | Klimatechnik | Malerbetrieb | Bodenleger | Tischlerei | Schreinerei | Schlosserei | Dachdeckerei | Zimmerei | Glaserei | KFZ-Werkstatt | Autohandel | Autohaus | Tankstelle | Hotel | Pension | Restaurant | Cafe | Baeckerei | Metzgerei | Catering | Einzelhandel | Supermarkt | Modegeschaeft | Juwelier | Buchhandlung | Grosshandel | Vertrieb | Import-Export | E-Commerce | IT-Dienstleister | Softwareentwicklung | Webdesign | Webagentur | Marketingagentur | Werbeagentur | PR-Agentur | Unternehmensberatung | Wirtschaftsberatung | Versicherungsmakler | Finanzberater | Bank | Vermoegensverwaltung | Fitnessstudio | Sportverein | Wellnesscenter | Friseur | Kosmetikstudio | Beautysalon | Nagelstudio | Tattoo-Studio | Fahrschule | Nachhilfe | Sprachschule | Musikschule | Kindergarten | Tanzschule | Coaching | Fotograf | Videoproduktion | Grafikdesign | Tonstudio | Druckerei | Werbetechnik | Reinigungsfirma | Facility Management | Gebaeudeservice | Spedition | Logistik | Transportunternehmen | Kurierdienst | Umzugsunternehmen | Gartenbau | Landschaftspflege | Floristik | Landwirtschaft | Bestattung | Optiker | Hoergeraeteakustiker | Personalvermittlung | Zeitarbeit | Personalberatung | Sicherheitsdienst | Detektei | Eventmanagement | Veranstaltungstechnik | Reisebuero | Tierhandlung | Hundeschule | Rechenzentrum | Hosting | Telekommunikation | Energieversorger | Abfallentsorgung | Recycling | Sonstige\n   Wenn KEINE passt: Sonstige\n\nANTWORTE NUR MIT VALIDEM JSON:\n{\n  \"ceo_name\": \"Vorname Nachname oder null\",\n  \"ceo_gender\": \"maennlich|weiblich|unbekannt\",\n  \"ceo_position\": \"Geschaeftsfuehrer/CEO/Inhaber oder null\",\n  \"ceo_source\": \"website|search|unknown\",\n  \"email\": \"beste Email oder null\",\n  \"phone\": \"beste Telefonnummer oder null\",\n  \"company_name\": \"Offizieller Firmenname\",\n  \"industry\": \"EXAKT eine Branche aus der obigen Liste\",\n  \"legal_form\": \"GmbH/AG/e.U./etc. oder null\",\n  \"street\": \"Strasse und Hausnummer oder null\",\n  \"city\": \"Stadt oder null\",\n  \"postal_code\": \"PLZ oder null\",\n  \"country\": \"Laenderkuerzel (AT/DE/CH/etc.) oder null\",\n  \"employee_count\": null,\n  \"confidence_score\": 0.0\n}",
        "options": {
          "systemMessage": "Du bist ein Daten-Extraktions-Spezialist. Du extrahierst strukturierte Firmendaten aus verschiedenen Quellen. Antworte IMMER mit validem JSON. Keine Erklaerungen. Beim CEO: Suche nach echten Personennamen (Vorname Nachname). Verwende nicht den Firmennamen oder generische Begriffe als CEO. Wenn nur der Nachname bekannt ist, versuche den Vornamen aus dem Content zu finden. Wenn kein Name gefunden wird, setze ceo_name auf null. Der confidence_score (0.0-1.0) gibt an, wie sicher du dir beim Geschaeftsfuehrer-Namen bist."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        14500,
        2160
      ],
      "id": "0f8dc2af-54cf-4d4d-b638-7912aff9201c",
      "name": "10. AI Extract Data"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        14500,
        2288
      ],
      "id": "86372a3a-e8b8-4489-a9c5-533e0d9a1c02",
      "name": "Gemini 2.0 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "HT76LgkOqnLYmNWT",
          "name": "New Gemini Arnold"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json.output || $input.item.json.text || '';\nconst prevData = $('9. Parse LangSearch Results').item.json;\n\nvar data = {};\ntry {\n  var cleaned = aiResponse.replace(/```json\\n?|```/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch (e) {\n  console.error('JSON Parse Error:', e.message);\n  data = {};\n}\n\n// Rechtsform-Filter prüfen\nvar companyTypeFilter = prevData._company_type || 'all';\nif (companyTypeFilter !== 'all') {\n  var legalForm = (data.legal_form || '').toLowerCase();\n  var companyName = (data.company_name || prevData.name || '').toLowerCase();\n  var filterMap = {\n    'gmbh': ['gmbh'],\n    'eu': ['e.u.', 'e.u', 'einzelunternehmen'],\n    'ag': ['ag', 'aktiengesellschaft'],\n    'og': ['og', 'offene gesellschaft'],\n    'kg': ['kg', 'kommanditgesellschaft'],\n    'gmbh_cokg': ['gmbh & co kg', 'gmbh & co. kg', 'gmbh &amp; co kg']\n  };\n  var keywords = filterMap[companyTypeFilter] || [];\n  var matches = keywords.some(function(kw) {\n    return legalForm.indexOf(kw) !== -1 || companyName.indexOf(kw) !== -1;\n  });\n  if (!matches) {\n    console.log('Skip (Rechtsform): ' + (data.company_name || prevData.name));\n    return [{ _has_lead: false, _skip_reason: 'rechtsform' }];\n  }\n}\n\n// Kein echter Email-Fund → Lead überspringen\nconst finalEmail = data.email || (prevData.emails_found && prevData.emails_found[0]) || null;\nif (!finalEmail) {\n  console.log('Skip (no email): ' + (data.company_name || prevData.name));\n  return [{ _has_lead: false, _skip_reason: 'no_email' }];\n}\n\nreturn [{\n  _has_lead: true,\n  user_id: prevData.user_id,\n  search_job_id: prevData.job_id,\n  search_query: prevData.search_query,\n  search_location: prevData.search_location,\n  name: data.company_name || prevData.name,\n  company: data.company_name || prevData.name,\n  industry: data.industry || prevData.category || null,\n  legal_form: data.legal_form || null,\n  address: prevData.address,\n  street: data.street || null,\n  city: data.city || null,\n  postal_code: data.postal_code || null,\n  country: data.country || prevData.country || null,\n  phone: data.phone || prevData.phone || null,\n  email: finalEmail,\n  website: prevData.website,\n  ceo_name: data.ceo_name || null,\n  ceo_gender: data.ceo_gender || 'unbekannt',\n  ceo_position: data.ceo_position || null,\n  ceo_source: data.ceo_source || 'unknown',\n  google_place_id: prevData.google_place_id,\n  google_rating: prevData.google_rating,\n  google_reviews_count: prevData.google_reviews_count,\n  social_linkedin: prevData.social_linkedin || null,\n  social_facebook: prevData.social_facebook || null,\n  social_instagram: prevData.social_instagram || null,\n  social_xing: prevData.social_xing || null,\n  social_twitter: prevData.social_twitter || null,\n  social_youtube: prevData.social_youtube || null,\n  social_tiktok: prevData.social_tiktok || null,\n  status: 'new',\n  raw_data: {\n    ai_response: data,\n    emails_found: prevData.emails_found,\n    phones_found: prevData.phones_found,\n    pages_loaded: prevData.pages_loaded,\n    confidence_score: data.confidence_score || 0\n  },\n  _job_id: prevData.job_id\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14788,
        2192
      ],
      "id": "4b49567f-fec6-467b-982a-47e4dd6a0ae6",
      "name": "11. Prepare Lead"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        15412,
        2176
      ],
      "id": "2042b708-fb11-45b2-aaea-7fddce79d446",
      "name": "13. Next Company"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kvwjabdmmdthgbhimjqf.supabase.co/rest/v1/rpc/set_search_job_completed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2d2phYmRtbWR0aGdiaGltanFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDY2MjMsImV4cCI6MjA4NzU4MjYyM30.QVojOI9Uc4DNU3x9TrGJHIj30siU0pjhPS68Ns42smU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_job_id\": \"{{ $('1. Webhook Trigger').item.json.body.job_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15812,
        2080
      ],
      "id": "1c086ae8-9869-49af-9b12-9b9876cb9904",
      "name": "15. Job → Completed"
    },
    {
      "parameters": {
        "tableId": "leads",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "_job_id, _has_lead, _skip_reason"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        15092,
        2176
      ],
      "id": "f0fa6003-34be-49b7-ba12-069a17b0441b",
      "name": "12. Supabase Insert Lead",
      "credentials": {
        "supabaseApi": {
          "id": "PHmNqI7H6bqVa3qJ",
          "name": "KI Kanzlei Dashboard"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "=AIzaSyClicibNTw5sDI4I3gidDUZbtddPtDadXY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.nationalPhoneNumber,places.internationalPhoneNumber,places.websiteUri,places.rating,places.userRatingCount,places.googleMapsUri,places.businessStatus,places.types,places.id,nextPageToken"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('1. Webhook Trigger').item.json.body.query }} in {{ $('1. Webhook Trigger').item.json.body.location }}\",\n  \"languageCode\": \"de\",\n  \"pageSize\": 20\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12272,
        2080
      ],
      "id": "gp-page1",
      "name": "4. Google Places Page 1"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst response = $input.first().json;\nconst places = response.places || [];\nif (!staticData._gp_places) { staticData._gp_places = []; staticData._gp_page = 0; }\nfor (var i = 0; i < places.length; i++) { staticData._gp_places.push(places[i]); }\nstaticData._gp_page++;\nvar nextToken = response.nextPageToken || null;\nvar hasMore = nextToken !== null && staticData._gp_page < 3;\nconsole.log('Seite ' + staticData._gp_page + ': ' + places.length + ' results');\nreturn [{ _next_page_token: nextToken || '', _has_more_str: hasMore ? 'yes' : 'no', _total: staticData._gp_places.length }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12472,
        2080
      ],
      "id": "gp-store",
      "name": "4a. Store Results",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-mp",
              "leftValue": "={{ $json._has_more_str }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12672,
        2080
      ],
      "id": "gp-more",
      "name": "4b. More Pages?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "=AIzaSyClicibNTw5sDI4I3gidDUZbtddPtDadXY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.nationalPhoneNumber,places.internationalPhoneNumber,places.websiteUri,places.rating,places.userRatingCount,places.googleMapsUri,places.businessStatus,places.types,places.id,nextPageToken"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('1. Webhook Trigger').item.json.body.query }} in {{ $('1. Webhook Trigger').item.json.body.location }}\",\n  \"languageCode\": \"de\",\n  \"pageSize\": 20,\n  \"pageToken\": \"{{ $json._next_page_token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12672,
        1860
      ],
      "id": "gp-next",
      "name": "4c. Fetch Next Page"
    },
    {
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar allPlaces = staticData._gp_places || [];\nvar pageCount = staticData._gp_page || 1;\nconsole.log('Total: ' + allPlaces.length + ' Places');\ndelete staticData._gp_places;\ndelete staticData._gp_page;\nreturn [{ places: allPlaces }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12872,
        2080
      ],
      "id": "gp-all",
      "name": "4d. All Results"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json._fetch_homepage }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "de,en;q=0.8"
            }
          ]
        },
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13988,
        2080
      ],
      "id": "fetch-hp",
      "name": "7b. Fetch Homepage",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var httpResp = $input.first().json;\nvar originalItem = $('7a. Prepare URL').item.json;\nvar html = '';\nif (typeof httpResp === 'string') { html = httpResp; }\nelse if (httpResp && httpResp.data && typeof httpResp.data === 'string') { html = httpResp.data; }\nreturn [{ json: Object.assign({}, originalItem, { html_homepage: html }) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14188,
        2080
      ],
      "id": "merge-hp",
      "name": "7c. Merge Data",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-lead",
              "leftValue": "={{ $json._has_lead }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14948,
        2192
      ],
      "id": "if-lead",
      "name": "11a. Has Lead?"
    }
  ],
  "connections": {
    "1. Webhook Trigger": {
      "main": [
        [
          {
            "node": "2. Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. Job → Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Job → Running": {
      "main": [
        [
          {
            "node": "4. Google Places Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Google Places Page 1": {
      "main": [
        [
          {
            "node": "4a. Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Store Results": {
      "main": [
        [
          {
            "node": "4b. More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. More Pages?": {
      "main": [
        [
          {
            "node": "4c. Fetch Next Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4d. All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4c. Fetch Next Page": {
      "main": [
        [
          {
            "node": "4a. Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4d. All Results": {
      "main": [
        [
          {
            "node": "5. Filter & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Filter & Parse": {
      "main": [
        [
          {
            "node": "6. Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Loop Companies": {
      "main": [
        [
          {
            "node": "15. Job → Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7a. Prepare URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7a. Prepare URL": {
      "main": [
        [
          {
            "node": "7b. Fetch Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7b. Fetch Homepage": {
      "main": [
        [
          {
            "node": "7c. Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7c. Merge Data": {
      "main": [
        [
          {
            "node": "7e. Parse HTML + Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7e. Parse HTML + Social": {
      "main": [
        [
          {
            "node": "8. LangSearch: Find CEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. LangSearch: Find CEO": {
      "main": [
        [
          {
            "node": "9. Parse LangSearch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Parse LangSearch Results": {
      "main": [
        [
          {
            "node": "10. AI Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "10. AI Extract Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "10. AI Extract Data": {
      "main": [
        [
          {
            "node": "11. Prepare Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Prepare Lead": {
      "main": [
        [
          {
            "node": "11a. Has Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11a. Has Lead?": {
      "main": [
        [
          {
            "node": "12. Supabase Insert Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "13. Next Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Supabase Insert Lead": {
      "main": [
        [
          {
            "node": "13. Next Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Next Company": {
      "main": [
        [
          {
            "node": "6. Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-27T18:14:16.726Z",
  "versionId": "39a326b7-95a4-498d-825b-21ed12baade7"
}